@import '../../common-styles/variables.scss';
@import '../../common-styles/normalize.scss';
.cl-withdrawn {
    border-radius: $borderRadius;
    background-color: $lightGrey;
    padding: $paddingOfWindows;
    display: flex;
    flex-direction: column;
}

.cl-withdrawn-row--red {
    background-color: $red;
}

.cl-withdrawn-row--purple {
    background-color: $purple;
}

.cl-withdrawn-row--light-grey {
    background-color: $lightGrey;
}

.cl-withdrawn__head {
    padding-left: 4%;
}

.cl-withdrawn__list {
    padding: 2px;
    background-color: white ;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

.cl-withdrawn-row {
    display: flex;
    justify-content: space-between;
    margin: {
        top: 2px;
        bottom: 2px;
    }
    ;
    border-radius: $borderRadius;
    padding: 1%;
}

.cl-withdrawn__ico {
    color: white;
    opacity: 0.5;
}

.cl-withdrawn__company-name {
    min-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: {
        left: 2%;
        right: 2%;
    }
    font-size: 0.8em;
    line-height:20px;
}

.cl-withdrawn__drop-down {
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.5;
}