@import '../../common-styles/variables.scss';
@import '../../common-styles/normalize.scss';
.closing {
    border-radius: $borderRadius;
    background-color: $blue;
    padding: 3px;
    display: flex;
    flex-direction: column;
}

.closing__head {
    color: white;
    margin-left: 4%;
}

.closing__content {
    padding: $paddingOfWindows;
    background-color: lightBlue;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}