$lightBlue: #EEF8FF;
$blue: #7FB9D6;
$grey: #666666;
$lightGrey:#DDE3E7;
$red: #DB8E84;
$green: #B3D18F;
$purple:#C7B6D7;
$borderRadius: 4px;
$paddingOfWindows:3px;

.sidebar {
    border-radius: $borderRadius;
    background-color: $lightGrey;
    padding: $paddingOfWindows;
    width:250px;
}
.sidebar__head{
    padding-left: 4%;
}
.sidebar__content {
    padding: 2px;
    background-color: white ;
}



