@import '../../common-styles/variables.scss';
@import '../../common-styles/normalize.scss';

.credit{
    border-radius: $borderRadius;
    background-color: $blue;
    padding:3px;
    display: flex;
    flex-direction: column;
}
.credit__head{
    color: white;
    padding-left: 4%;
}
.credit__content{
    padding: $paddingOfWindows;
    background-color: lightBlue;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}