$lightBlue: #EEF8FF;
$blue: #7FB9D6;
$grey: #666666;
$lightGrey:#DDE3E7;
$red: #DB8E84;
$green: #B3D18F;
$purple:#C7B6D7;
$borderRadius: 4px;
$paddingOfWindows:3px;

.credit{
    border-radius: $borderRadius;
    background-color: $blue;
    padding:3px;
}
.credit__head{
    color: white;
    padding-left: 4%;
}
.credit__content{
    padding: $paddingOfWindows;
    background-color: lightBlue;
}