$lightBlue: #EEF8FF;
$blue: #7FB9D6;
$grey: #666666;
$lightGrey:#DDE3E7;
$red: #DB8E84;
$green: #B3D18F;
$purple:#C7B6D7;
$borderRadius: 4px;
$paddingOfWindows:3px;
.bids-field {
    background-color: gray;
    padding: {
        left: 4%;
        right: 2%;
    }
}

.bids-field--horisontal {
    display: flex;
    justify-content: space-around;
}

.bids-field--vertical {}

.bids-field__field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3px;
    color: white;
}

.bids-field__form {
    display: flex;
    align-items: center;
    margin: 3px;
    min-width: 80px;
    padding: {
        left: 5%;
        right: 50%;
    }
}

.bids-field__label {
    min-width: 70px;
}

.bids-field__input {
    margin: 3px;
    width: 40px;
    height: 40px;
    border: {
        radius: 2px;
        color: $blue;
    }
}

.bids-field__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    min-width: 25px;
    border-radius: 2px;
    background-color: $lightGrey;
    color: $grey;
    cursor: pointer;
}