@import '../../common-styles/variables.scss';
@import '../../common-styles/normalize.scss';
.interest-rates {}

.interest-rates__lable {
    padding: {
        bottom: $paddingOfSidebarTitles;
        top: $paddingOfSidebarTitles;
    }
}

.interest-rates__content {
    border: 1px solid $lightGrey;
    border-radius: $borderRadius;
    padding: 4%;
}

.interest-rates__item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}