@import '../../common-styles/variables.scss';
@import '../../common-styles/normalize.scss';
.production-year-to-date {}

.production-year-to-date__lable {
    padding: {
        bottom: $paddingOfSidebarTitles;
        top: $paddingOfSidebarTitles;
    }
}

.production-year-to-date__content {
    height: 200px;
    border: 1px solid $lightGrey;
    border-radius: $borderRadius;
    padding: 4%;
}