$lightBlue: #EEF8FF;
$blue: #7FB9D6;
$grey: #666666;
$lightGrey:#DDE3E7;
$red: #DB8E84;
$green: #B3D18F;
$purple:#C7B6D7;
$borderRadius: 4px;
$paddingOfWindows:3px;
$paddingOfSidebarTitles:7px;
.bdo-bids-this-week {}

.bdo-bids-this-week__lable {
    padding: {
        bottom: $paddingOfSidebarTitles;
        top: $paddingOfSidebarTitles;
    }
}

.bdo-bids-this-week__content {}