@import '../../common-styles/variables.scss';
@import '../../common-styles/normalize.scss';

.sidebar {
    border-radius: $borderRadius;
    background-color: $lightGrey;
    padding: $paddingOfWindows;
    width:250px;
}
.sidebar__head{
    padding-left: 4%;
}
.sidebar__content {
    padding: 2px;
    background-color: white ;
}



