$lightBlue: #EEF8FF;
$blue: #7FB9D6;
$grey: #666666;
$lightGrey:#DDE3E7;
$red: #DB8E84;
$green: #B3D18F;
$purple:#C7B6D7;
$borderRadius: 4px;
$paddingOfWindows:3px;
.deal-track {
    // border: 1px solid $blue;
    border-radius: $borderRadius;
    background-color: $blue;
    padding:3px;
}
.deal-track--light-grey{
    background-color: $lightGrey;
}
.deal-track--light-blue{
    background-color: $blue;
}

.deal-track__head {
    color: white;
}

.employees-achivement {
    padding: $paddingOfWindows;
    background-color: lightBlue;
}


.employees-achivement__row {
    padding-top: 10px;
}

.employees-achivement__name {}

.employees-achivement__deals-vizualization {
    min-height: 20px;
    background-color: white;
}

.employees-achivement__button {
    min-height: 18px;
    margin: 2px;
    background-color: $green;
    border: 1px solid $green;
    border-radius: 2px;
}