@import '../../common-styles/variables.scss';
@import '../../common-styles/normalize.scss';
.mtd-deals-to-commitee {
    border-radius: $borderRadius;
    background-color: $lightGrey;
    padding: 3px;
    display: flex;
    flex-direction: column;
}

.mtd-deals-to-commitee__head {
    padding-left: 4%;
}

.mtd-deals-to-commitee__content {
    padding: $paddingOfWindows;
    background-color: lightBlue;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}